@page
@model ProjektProgramowanie.Pages.MiejscaCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Czy na pewno chcesz usunąć te miejsce?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Miejsca.Miejsce)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Miejsca.Miejsce)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Miejsca.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Miejsca.Opis)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Miejsca.Id" />
        <input type="submit" value="Usun" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-page="./Index">Powrot do listy miejsc</a>
    </form>
</div>
